body{ 
    margin:0px;
    margin-top:0px;
    background-color:#E4ECEE;
}
.navbar{
    overflow: hidden;
    background-color:#121212;
    font-family:"Lucida Console", Monaco, monospace;
}
.navbar a{
    float: right;
    font-size: 16px;
    color: #c9aa71;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown{
    float:right;
    overflow:hidden;
}

.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: #c9aa71;
    padding: 14px 16px;
    background-color: inherit;
    font-family:"Lucida Console", Monaco, monospace;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color:#121212;
    color:#f1e6d0;
}

.dropdown-content{
    display:none;
    position:absolute;
    background-color:#121212;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index:1;
}

.dropdown-content a{
    float: none;
    color: c9aa71;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
    text-align:left;
}

.dropdown:hover .dropdown-content{
    display:block;
}

.social{
    display:inline-block;
    font-size:0px;
    overflow:hidden;
    width:64.1%;
    text-align:left;
    padding-left:35.9%;
}

.heading{
    text-align:center;
    font-family:"Lucida Console", Monaco, monospace;
}

.icon{
    width:8%;
    height:8%;
    padding-left:5%;
    padding-top:5%;
}